# Base de données
DATABASE_URL="postgresql://user:password@localhost:5432/mon_saas_db"

# Paiement (Stripe)
STRIPE_SECRET_KEY="sk_test_votre_cle_test_ici"
STRIPE_WEBHOOK_SECRET="whsec_..."

# API / Auth
NEXTAUTH_SECRET="generer_une_chaine_aleatoire_ici"
NEXTAUTH_URL="http://localhost:3000"
